@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic');
@import url('https://fonts.googleapis.com/css?family=Silkscreen:regular,700');


.header {
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 50;
	background-color: #313f38;
}

.container {
	max-width: 1920px;
	margin: 0 auto;
	padding: 0 15px;
}
.header__body {
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 100px;
}
.header__logo {
	color: var(--White, #fffcf6);
	font-size: 20px;
	font-weight: 500;
	line-height: normal;
	text-transform: capitalize;
	position: relative;
	z-index: 3;
}
.header__burger {
	display: none;
}
@media (max-width: 1024px) {
	.header__burger {
		display: block;
		position: relative;
		height: 30px;
		width: 30px;
		background-color: white;
		border-radius: 50%;
		z-index: 24;
	}}
	.header__burger::before,
	.header__burger::after{
		content: '';
		width: 50%;
		left: 25%;
		height: 2px;
		background-color: black;
		position: absolute;
		transition: 1s;
	}
	.header__burger::before{
		bottom: 35%;
		transform: translate(25%, 0);
	}
	.header__burger::after{
		top: 35%;
		transform: translate(-25%, 0);
	}


	.show::before{
	transform: rotate(220deg) translate(2px, 3px);
	}
	.show::after{
	transform: rotate(-45deg) translate(-2px, 2px);
	}

.header__list {
	display: flex;
	gap: 70px;
}
@media (max-width: 1024px) {
	.header__list {
		flex-direction: column;
		gap: 20px;
		text-align: center;
		position: fixed;
		transform: translateY(-100%);
		transition: transform 0.2s;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 4;
		background: black;
		color: white;
		list-style: none;
		padding-top: 4rem;
        padding: 30% 0 0 0;
	}
}

@media (max-width: 1250px) {
	.header__list {
		gap: 30px;
	}
}
.header__link {
	color: var(--White, #fffcf6);
	font-weight: 400;
	font-size: 14px;
	text-transform: uppercase;
}
.header__contact {
	color: var(--White, #fffcf6);
	font-weight: 400;
	font-size: 16px;
	text-transform: uppercase;
	z-index: 3;
}
@media (max-width: 1024px) {
	.header__contact {
		font-size: 10px;
	}
	.header__logo {
		font-size: 28px;
	}
}

.block-one {
	padding: 100px 20px 20px 0;
}
.block-one__body {
	display: flex;
	flex-wrap: wrap;
	position: relative;
	padding: 0 0 20px 0;
	justify-content: space-between;
	min-height: 300px;
}

.block-left__label {
	color: #fffcf6;
	font-family: Silkscreen;
	font-size: 170px;
	font-style: normal;
	font-weight: 400;
	line-height: 200px; /* 90.909% */
}
.yellow {
	color: #fcd043;
}
.block-left__skills {
	position: absolute;
	left: 0;
	bottom: 0;
	color: var(--Secondary-color, #fcd043);
	font-family: Montserrat;
	font-size: 26px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	text-transform: uppercase;
}

.block-right {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: space-between;
}
.block-right__discord {
	padding: 20px;
	border: 1px solid rgb(114, 101, 101);
	border-radius: 40px;
	margin-right: 200px;
}

.block-right__text {
	max-width: 350px;
	position: relative;
	margin-left: 100px;
}
.block-right__text::after {
	content: '(c) Dark Souls';
	position: absolute;
	width: 100%;
	bottom: -25px;
	left: 270px;
	color: #896868;
}

@media (max-width: 1400px) {
	.block-left__label {
		font-size: 140px;
	}
	.block-right__discord {
		margin-right: 60px;
	}
	.block-right__text {
		margin-left: 0;
	}
}
@media (max-width: 1120px) {
	.block-left__label {
		font-size: 125px;
	}
}
@media (max-width: 1049px) {
	.block-one__body {
		flex-direction: column;
	}
	.block-right__discord {
		position: absolute;
		border: inherit;
		margin-right: 0px;
		top: 0;
		right: 0;
	}
	.block-right__text {
		position: absolute;
		bottom: 60px;
		right: 0;
	}
}
@media (max-width: 768px) {
	.block-left__skills {
		font-size: 14px;
	}
	.block-right__text {
		font-size: 12px;
	}
	.block-right__text::after {
		left: 230px;
	}
	.block-right__discord {
		font-size: 10px;
		border: inherit;
		transform: translate(30px, 0);
	}
	.block-left__label {
		font-size: 170px;
		transform: translate(-50%, 0);
		animation: slideText 3s linear infinite;
	}
	@keyframes slideText {
		0% {
			transform: translateX(
				100%
			); /* Начальное смещение за пределы экрана справа */
		}
		100% {
			transform: translateX(
				-100%
			); /* Конечное смещение за пределы экрана влево */
		}
	}
}

.big-image {
	padding: 10px 0 30px 0;
}

.image-box {
	border-right: 5px solid yellow;
	border-left: 5px solid rgb(21, 0, 255);
	border-top: 5px solid yellow;
	border-bottom: 5px solid rgb(21, 0, 255);
	overflow: hidden;
	border-radius: 40px;
	max-height: 500px;
	animation: color 5s linear infinite;
}

@keyframes color {
	0% {
		border-right: 5px solid yellow;
		border-left: 5px solid white;
		border-top: 5px solid yellow;
		border-bottom: 5px solid white;
	}
	50% {
		border-right: 5px solid white;
		border-left: 5px solid yellow;
		border-top: 5px solid white;
		border-bottom: 5px solid yellow;
	}
	100% {
		border-right: 5px solid yellow;
		border-left: 5px solid white;
		border-top: 5px solid yellow;
		border-bottom: 5px solid white;
	}
}

.image-box img {
	width: 100%;
}

.showMenu {
	transform: translateY(0);
}

@media (max-width: 1024px) {
    .header__link{
        display: inline-block;
        font-size: 40px;
        padding: 0 40px 0 40px;
        text-align: justify;
    }
}






.darksolus {
	padding: 119px 0 268px 0;
}
.container {
}
.darksouls__page {
	display: grid;
	grid-template-columns: 1fr 0.4fr;
}

.ds-page__left {
	display: flex;
	position: relative;
}
.ds-page__left::before{
	content: '';
	width: 100%;
	height: 100%;
	top: 0;
	border-top: 2px solid black;
	border-radius: 30%;
	position: absolute;
	z-index: 1;
}

.ds-left {

}
.ds-left__image {
	margin-left: 0px 50px 30px 0;
	max-width: 650px;
	max-height: 912px;
	overflow: hidden;
	border: 1px;
	border-radius: 30px;
	position: relative;
	z-index: 2;
}
.ds-left__image img{
	width: 100%;
}
.ds-left__content {
	border-top: 2px solid black;
}
.ds-left__bigtext{
	color: var(--White, #FFFCF6);
	font-family: Silkscreen;
	font-size: 150px;
	font-style: normal;
	font-weight: 400;
	line-height: 130px;
	text-transform: uppercase;
	text-align: right;
	margin: 290px 60px 51px 0px;
}
.ds-left__text {
	color: var(--White, #fffcf681);
	font-family: Montserrat;
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	line-height: 28px; /* 155.556% */
	max-width: 443px;
	margin: 0 0px 0px 142px;
}
.ds-page__right {
}
.ds-right {
	border-top: 2px solid black;
	border-left: 2px solid black;
}
.ds-right__image {
	max-width: 323px;
	max-height: 286px;
	overflow: hidden;
	border: 1px;
	border-radius: 28px;
	margin: 60px 0 0 64px;
}
.ds-right img{
	max-width: 100%;
}
.ds-right__picture {
	max-width: 223px;
	max-height: 386px;
	overflow: hidden;
	border: 1px;
	border-radius: 80px;
	box-shadow: 7px 23px 10px #000000;
	margin-left: 154px;
	margin: 90px 50px 0 154px;
	
}
.ds-right img{
	max-width: 100%;
}

@media (max-width: 1625px){
	.ds-left__image{
		max-height: 500px;
		max-width: 300px;
		margin: 100px 0 0 50px;
	}
}
@media (max-width: 1370px){
	.ds-page{
		position: relative;
	}
	.ds-left{
		display: flex;
	}
	.ds-left__image{
		max-height: 300px;
		max-width: 200px;
		margin: 200px 0 0 100px;
		display: none;
	}
	.ds-right__image{
		position: absolute;
		top: 0;
		left: 0;
	}
	.ds-right__picture{
		margin: 0 auto;
	}
	.ds-left__bigtext{
		font-size: 120px;
		max-width: 600px;
		margin: 200px 40px 50px 100px;
	}
	.ds-left__text{
		max-width: 600px;
	}
	.ds-right{
		padding: 160px 0 0 0;
	}
}
@media (max-width: 1024px) {
	.ds-page{
		display: flex;
	}
	.ds-right__picture{
		display: none;
	}
}
@media (max-width: 768px) {
	.ds-left__bigtext{
		margin: 0 auto;
	}
	.ds-left__text{
		margin: 0 auto;
	}
	.ds-right__image{
		top: 85%;
		left: -20%;
	}
	.ds-left__bigtext{
		font-size: 100PX;
	}
	.ds-left__text{
		max-width: 300px;
		text-align: right;
	}
	.darksolus {
	padding: 59px 0 134px 0;
}
}
